*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base Typography & Layout */
html,
body {
  height: 100%;
  width: 100%;
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-normal);
  background-color: var(--color-bg);
  color: var(--color-text-primary);
}